@font-face {
  font-family: "Clash Display";
  src: url("/public/fonts/ClashDisplay-Regular.otf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-black: rgba(0, 0, 0, 1);
  --color-blue-purple: #afcaff;
  --color-blue: #0090ff;
  --color-blue200: #0058ff;
  --color-blue300: #0058ff;
  --color-white: #ffffff;
  --color-white200: rgba(250, 252, 255, 1);
  --color-gray: #bbb8b8;
  --gradient-white-to-black: linear-gradient(
    179.97deg,
    #000000 31.73%,
    #ffffff 99.98%
  );
  //Page Gutters
  --page-width: 1440px;
  --page-gutters-default: 0 16px 0 16px;
  --page-gutters-desktop: 0 88px 0 88px;

  //Font Size

  --font-size-mini: 1rem;
  --font-size-miniPlus: 1.5rem;
  --font-size-regular: 2rem;
  --font-size-large: 2.5rem;
  --font-size-largePlus: 3rem;

  //Font Weight
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;

  //Letter Spacing
  --letter-spacing-small: 0.02rem;

  //Padding:
  --p-small: 0.05rem;
  --p-medium: 1rem;
  --p-medium-plus: 1.5rem;
  --p-large: 2rem;
  --p-large-x: 2.5rem;
  --p-large-xl: 3rem;
  --p-large-xxl: 3.5rem;

  //Z-index
  --z-index-tiny: 1;
  --z-indez-small: 2;

  //Line Height
  --line-height-regular: 4rem;

  font-size: 16px;
  background: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica,
    sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  ::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: inherit;
    letter-spacing: var(--letter-spacing-small);
    font-weight: var(--font-weight-medium);
  }

  h1 {
    font-size: var(--font-size-largePlus);
  }

  h2 {
    font-size: var(--font-size-large);
  }

  h3 {
    font-size: var(--font-size-regular);
  }

  p {
    font-weight: var(--font-weight-regular);
  }
}
