.filterBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .filterBarOption {
    font-family: "Poppins";
    font-size: var(--font-size-small);
    border: 1px solid var(--color-blue200);
    padding: 0.5rem;
  }
}
