.filterBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  @media (max-width: 800px) {
    width: 95%;
    margin: 0 auto 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .filterBarOption {
    font-family: "Poppins";
    font-size: var(--font-size-small);
    border: 2px solid var(--color-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 220px;

    @media (max-width: 800px) {
      width: 99%;
    }
  }
}

.filterButton {
  font-family: "Poppins";
  border: 1px solid var(--color-blue);
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--color-light-blue);

  &:hover {
    background: var(--color-blue-purple);
    color: var(--color-white);
    cursor: pointer;
    transition: 200ms ease background-color;
    color: var(--color-text);
  }
}

.filterButtonClicked {
  font-family: "Poppins";
  border: 1px solid var(--color-blue);
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: var(--color-blue);
  color: var(--color-white);
}
