.footer {
  background: var(--color-text);
  height: 100px;
  width: 100%;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socialIconsRow {
  display: flex;
  gap: 1rem;
}

.textButton {
  text-decoration: none;
  border: none;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: var(--font-size-mini);
  transition: color 200ms ease;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--color-gray);
  }
}

.link {
  transition: color 0.02ms ease;
  cursor: pointer;

  &:hover {
    color: var(--color-gray);
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-white);
  font-size: var(--font-size-miniPlus);
}

.filecoinLogo {
  font-size: 0.02rem;
}
