.body {
  height: 200px;
  background: var(--color-blue200);
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.headline {
  font-family: "Clash Display";
  font-weight: 500;
  font-size: 2.5rem;
  max-width: 25ch;
}
