.body {
  background: var(--color-blue200);
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.headline {
  font-family: "Clash Display";
  font-weight: var(--font-weight-medium);
  font-size: 4rem;
  max-width: 20ch;
  line-height: var(--line-height-regular);

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
    max-width: none;
    line-height: 3rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.heroImage {
  width: 30rem;

  margin: 0 auto 0 auto;

  .image {
    height: 14rem;
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 20rem;
  }
}
