.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-blue300);
  background: var(--color-light-gray);
}

.col32 {
  width: 25%;
  align-self: stretch;
  border-right: 1px solid var(--color-blue300);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px 8px 16px;
  min-height: 54px;
  flex-shrink: 0;

  &:first-child {
    border-left: 1px solid var(--color-blue300);
  }
}

.col18 {
  width: 18%;
  align-self: stretch;
  border-right: 1px solid var(--color-blue300);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 8px 16px 8px 16px;
  display: inline-flex;
  align-items: center;
  min-height: 54px;
}

.name {
  font-weight: 600;
}

.pagination {
  display: flex;
  gap: 10px;
}

.plan {
  color: rgba(0, 0, 0, 0.4);
}
