.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1.5rem;
  grid-gap: 1.5rem;
  padding: 2.5rem 0rem 2rem;
  z-index: var(--z-index-small);
  position: relative;
}

// .body {
//   padding: 2rem 0rem;
// }

.dataTitle {
  color: var(--color-white);
}

.data {
  font-weight: var(--font-weight-bold);
  color: var(--color-blue);
  font-size: var(--font-size-largePlus);

  @media (max-width: 1050px) {
    font-size: var(--font-size-regular);
  }
}

.headline {
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
  font-size: 4rem;
  max-width: 20ch;
  line-height: var(--line-height-regular);
  color: var(--color-white);

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
    max-width: none;
    line-height: 3rem;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
  position: relative;
  z-index: var(--z-index-small);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.button {
  color: var(--color-white);
  background: var(--color-blue);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.caption {
  color: var(--color-white);
  padding-bottom: 1rem;
  z-index: var(--z-index-small);
  position: relative;
}

.video {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
}
