.body {
  background-color: var(--color-blue200);

  font-family: "Clash Display";
  padding: 1rem 0rem;
}

.dataTitle {
  color: var(--color-white);
  font-weight: 500;
}

.data {
  font-weight: 500;
  color: var(--color-white);
  font-size: 4rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1.5rem;
}
