.container {
  padding-top: 6rem;
}

.partnerGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 2rem;
  padding-bottom: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
    row-gap: 1rem;
  }
}

.logoModal {
  max-width: 10rem;
  padding-right: 2rem;

  @media (max-width: 1050px) {
    width: 8rem;
  }
}

.logo {
  max-width: 14rem;
  padding-right: 3.8rem;

  @media (max-width: 1050px) {
    width: 6rem;
    padding-right: 0.5rem;
  }

  @media (max-width: 500px) {
    width: 4rem;
  }

  @media (max-width: 302px) {
    width: 3rem;
  }
}

.partner {
  align-items: center;
  display: flex;

  @media (max-width: 768px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.folder {
  width: 100%;
  position: absolute;
  top: -6rem;
  left: 3rem;
}
.folderSVG {
  width: 50%;
}

.container {
  width: 100%;
  position: relative;
}

.headingTitle {
  color: var(--color-text);
  font-size: var(--font-size-large);
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 1rem;
}

.viewMoreButton {
  color: var(--color-text);
  background: none;
  border: none;
  font-size: var(--font-size-mini);
  border-bottom: 1px solid var(--color-black);
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBlue {
  background: var(--color-blue);
  padding: 8rem 0 8rem 0rem;

  @media (max-width: 768px) {
    padding: 4rem 0 4rem 0rem;
  }
}

.carouselRow {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.carouselColumn {
  grid-column: span 1;
}

.heading {
  padding-bottom: 2rem;
  color: var(--color-white);
}

.image {
  max-width: 17rem;
  border-radius: 0.25rem;

  @media (max-width: 1355px) {
    max-width: 20rem;
  }

  @media (max-width: 1050px) {
    max-width: 20rem;
  }

  @media (max-width: 768px) {
    max-width: 17rem;
  }

  @media (max-width: 604px) {
    max-width: 100%;
  }
}

.resources {
  color: var(--color-white);
}

.caption {
  color: var(--color-white);
}

.imageCaption {
  color: var(--color-white);
  position: absolute;
  margin-top: -16rem;
  margin-left: 1.5rem;
  font-size: var(--font-size-miniPlus);
}

.heading {
  padding-bottom: 4rem;
  color: var(--color-black);

  @media (max-width: 768px) {
    padding-bottom: 2rem;
  }
}

.caption {
  color: var(--color-black);
  max-width: 75ch;
  line-height: 2rem;
  font-size: var(--font-size-mini);
}

.containerBlue {
  background: var(--color-blue);
}

.link {
  border: none;
  text-decoration: none;
  color: inherit;
}

.caption {
  max-width: 24ch;
  line-height: 1.8rem;
  color: var(--color-white);
  position: absolute;
  margin-top: -12rem;
  margin-left: 1.5rem;
  font-size: 14px;
  font-weight: var(--font-weight-light);

  @media (max-width: 1150px) {
    max-width: 32ch;
  }
}

.logoGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding-bottom: 2rem;
  gap: 1rem;

  @media (max-width: 768px) {
    padding-bottom: 1rem;
    gap: 0.5rem;
  }
}

.modal {
  padding: 1.5rem;
  position: absolute;
  top: 16rem;
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  z-index: var(--z-index-tiny);
  width: 80%;
  border-radius: 0.25rem;

  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    width: 88%;
  }
}

.button {
  color: var(--color-white);
  background: var(--color-blue);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  width: 60%;
  transition: 200ms ease background-color;

  &:hover {
    background: var(--color-blue250);
  }
}

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  @media (max-width: 768px) {
    padding-bottom: 1rem;
    font-size: var(--font-size-miniPlus);
  }
}

.imageContainer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 0.5rem;
  height: 19rem;

  @media (max-width: 1280px) {
    max-width: 100%;
    max-height: 20rem;
  }

  @media (max-width: 980px) {
    max-width: 100%;
  }

  .image {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    min-height: 15rem;
    object-fit: cover;
    transition: all 0.7s;
    box-sizing: border-box;
    border-radius: 0.5rem;
    &:hover {
      min-height: 15rem;
      border-radius: 0.25rem;
      transform: scale(1.3) rotate(5deg);
    }
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logoContainer > .logoItem {
  width: 16.6666667%;
  padding: 1rem;
}
