.container {
  background: var(--color-text);
  padding: 3rem 0rem 1rem 0rem;
}

.partnerGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
    row-gap: 1rem;
  }
}

.logo {
  max-width: 8rem;

  @media (max-width: 1050px) {
    width: 6rem;
  }

  @media (max-width: 500px) {
    width: 4rem;
  }

  @media (max-width: 302px) {
    width: 3rem;
  }
}

.partner {
  align-items: center;
  display: flex;

  @media (max-width: 768px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.folder {
  width: 100%;
  position: absolute;
  top: -6rem;
  left: 3rem;
}
.folderSVG {
  width: 50%;
}
.container {
  width: 100%;
  position: relative;
}

.headingTitle {
  position: absolute;
  color: var(--color-white);
  top: -6rem;
  z-index: var(--z-index-tiny);
  font-size: var(--font-size-large);
}
