.headingContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 1rem;
}

.colorBlue {
  color: var(--color-blue200);
}

// .colorWhite {
//   color: var(--color-white200);
// }

.backgroundTable {
  // background: var(--color-black);
}

// .red {
//   background: white;
//   border-radius: 4rem;
// }
